body{

    font-family: 'Carrois Gothic SC', sans-serif !important;
    font-size: 13px !important;

}


.redes-sociais{
    list-style: none;
}

.social li{

    display: inline-block;
}

.icoredesocial{
    color: #c20e1a;
    transition: 0.5s;
}

.icoredesocial:hover{

    transform: scale(1.2,1.2);
    transition: 0.5s;

}

.btnContato{
    background-color: #c20e1a;
    color: white;
}

.formico{
    color: white;
}
.formicobg{
    background-color: #c20e1a !important;
}

.mapcontact{
    box-shadow: 0px 0px 20px 0px black;
    animation-name: entrymove;
    animation-duration: 2s;
}

.btnContato:hover {
    background-color: #a3a0a0;
    color: #000;
}

.form{

    animation-name: entrymove;
    animation-duration: 2s;

}

.formtitles{
    font-size: 18px;
    
}

.newbox:focus{
    border-color: #c20e1a !important;
    box-shadow: 0 0 10px #c20e1a !important; 
}

.icodes{
    animation-name: undericon;
    animation-duration: 4s;
}

.responsive{
    padding-left: 60px;
}


@keyframes entrymove {
	0% {opacity : 0; transform: translate(0px,-40px);}
	100% {opacity : 1; transform: translate(0px,0px);}
}

@keyframes undericon {
    0% {opacity : 0;}
    
    50% {opacity: 0;}
    
    100% {opacity : 1}
}

@media (max-width: 991px){

    .responsive{
        padding-left: 210px;    
    }
    
}

@media (max-width: 767px){

    .responsive{
        padding-left: 130px;    
    }
        
}


@media (max-width: 426px){

    .responsive{
        padding-left: 57px;    
    }

}

@media (max-width: 384px){

    .responsive{
     padding-left: 45px;    
    }
    
}

@media (max-width: 365px){

    .responsive{
        padding-left: 40px;    
    }

    .mapcontact{
        margin-left: -8px;
    }
        
}

@media (max-width: 360px){

    .responsive{
        padding-left: 35px;    
    }
            
}

@media (max-width: 355px){

    .responsive{
        padding-left: 30px;    
    }
                
}

@media (max-width: 350px){

    .responsive{
        padding-left: 25px;    
    }
                    
}

@media (max-width: 345px){

    .responsive{
        padding-left: 20px;    
    }
                        
}

@media (max-width: 340px){

    .responsive{
        padding-left: 15px;    
    }
                    
}

@media (max-width: 335px){

    .responsive{
        padding-left: 10px;    
    }
                    
}

@media (max-width: 330px){

    .responsive{
        padding-left: 5px;    
    }
                    
}

@media (max-width: 325px){

    .responsive{
        padding-left: 0px;    
    }

    .mapcontact{
        margin-left: -8px !important;
        width: 300px !important;
    }
                        
}
      
         
        
    

