.font-crud{
    font-family: 'Carrois Gothic SC', sans-serif !important;
    font-size: 13px !important;
}
.btn-crud{
    background-color: #c20e1a !important;
    color: white !important;
}

.cabecalho-crud{
    border-radius: 100px !important;
}

.procurar-crud{
    margin-top: 5px;
    font-size: 20px;
}

.btn-crud:hover {
    background-color: #a3a0a0 !important;
    color: #000 !important;
}

.newbox-crud:focus{
    border-color: #c20e1a !important;
    box-shadow: 0 0 10px #c20e1a !important; 
}

.responsive-search-crud{
    width: 70% !important;
}

.titulo-crud{
    font-size: 18px;
}

.categoria-crud{
    width: 25%;
    font-size: 18px;
}

.preco-crud{
    width: 25%;
    font-size: 18px;
}

.acoes-crud {
    width: 13%;
    font-size: 18px;
}

.start-crud {
    font-size: 70px;
}

.font-adjustment-crud{
    font-size: 16px;
}

.btn-crud-table{
    width: 32px;
}

@media (max-width: 1200px){

    .btn-crud-table{
        margin-bottom: 5px;
    }
    
}

@media (max-width: 992px){

    .btn-crud-table{
        margin-bottom: 5px;
    }

    .categoria-crud{
        width: 20%;
    }
    
    
}

@media (max-width: 1200px){

    .acoes-crud {
        width: 15%;
    }

}

@media (max-width: 992px){

    .acoes-crud {
        width: 20%;
    }

}

@media (max-width: 767px){

    #paginacao-crud-responsive{
        justify-content: center !important;

    }

    .btn-crud-table{
        margin-bottom: 5px;
    }

    .acoes-crud {
        width: 15%;
    }

    .view-table-crud{
        margin-left: 8px;
    }
    
}

@media (max-width: 426px){

    .start-crud {
        text-align: center;
    }

    #add-crud-responsive{
        text-align: center !important;
        margin-bottom: -40px;
    }

    #search-bar-crud{
        text-align: center !important;
    }

}

