.navbar {
    background-color: #c20e1a;
}

.nav-item {
    font-size: 150%;  
}


.navbar-toggler {
    width: 5rem !important;
}

.navbar-toggler-icon {
    width: 3rem !important;
} 

span .navList {
    color: #ffffff !important;
}

.linkestilo {
    text-decoration: none;
    color: #ffffff;
}

.linkestilo:hover {
    text-decoration: none;
    color: #ffffff;
}



