
.footerbackground {
    background-color: #928c8c;
    color: #ffffff;
    bottom: 0px;
    box-sizing: border-box;
	width: 100%;
	text-align: left;
    font: bold 16px;
    font-family: 'Carrois Gothic SC', sans-serif !important;;
	padding: 30px 50px 60px 50px;
	margin-top: 80px;
}
@media (max-height:800px){
	header { padding-top:40px; }
}

.contatos-footer{
    padding: 0px;
    text-align: center;
    width: 60%;
}

.virtual {
    padding: 18px 0px;
}

.contatos-footer li {
    display: inline-block;
    width: 2rem ;
    height: 35px;
    border-radius: 50%;
    text-align: center;
    line-height: 30px;
    padding: 0cm;
}

.contatos-footer li a i {
    padding-top: 4px;
    color: #ffffff;
    font-size: 25px;
}

.contatos-footer li a i:hover{
    text-decoration: none;
}

.footer-links ul {
    list-style-type: none;
    font-size: 18px;
    padding: 15px 0px;  
    text-align: center;  
}


.footer-links li a {
    color: #ffffff;
}

.footer-links li a:hover{
    text-decoration: none;
}

.copyright {
    margin-bottom: -20px;
    margin-top: 10px;
    
}

@media(max-width:576px){
    .footer-info{ 
    clear: both;
    min-width: 130px;
    margin: auto;
    text-align: center;
    }

    .virtual{
        text-align: center;
        margin-top: -25px;
    }

    .contatos-footer{
        margin-left: 45px;
    }

    .footer-links{
        margin-left: 20px;
    }

    .fale-conosco-footer{
        text-align: center;
    }
}

.footer-info{
    width: 150px;
    height: 150px;
}

.footer-conosco{
    list-style: none;
    text-align: center;
    
}




