@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Carrois+Gothic+SC&display=swap');

.fontcontato{

    font-family: 'Carrois Gothic SC', sans-serif !important;
    font-size: 13px !important;
}    

.redes-sociais-contato{
    list-style: none;
}

.social-contato li{

    display: inline-block;
}

.icoredesocial-contato{
    color: #c20e1a;
    transition: 0.5s;
}

.icoredesocial-contato:hover{

    transform: scale(1.2,1.2);
    transition: 0.5s;

}

.btnContato{
    background-color: #c20e1a !important;
    color: white !important;
}

.formico-contato{
    color: white;
}
.formicobg-contato{
    background-color: #c20e1a !important;
}

.mapcontact{
    box-shadow: 0px 0px 20px 0px black;
    animation-name: entrymove;
    animation-duration: 2s;
}

.btnContato:hover {
    background-color: #a3a0a0 !important;
    color: #000 !important;
}

.form-contato{

    animation-name: entrymove;
    animation-duration: 2s;

}

.formtitles-contato{
    font-size: 18px;
    
}
.removeblue:hover{
    color: black;
    text-decoration: none;
}
.newbox-contato:focus{
    border-color: #c20e1a !important;
    box-shadow: 0 0 10px #c20e1a !important; 
}

.icodes-contato{
    animation-name: undericon;
    animation-duration: 4s;
}

.responsive-contato{
    padding-left: 60px;
}


@keyframes entrymove {
	0% {opacity : 0; transform: translate(0px,-40px);}
	100% {opacity : 1; transform: translate(0px,0px);}
}

@keyframes undericon {
    0% {opacity : 0;}
    
    50% {opacity: 0;}
    
    100% {opacity : 1}
}
.activepagination{
    
    color: white !important;
    background-color: #c20e1a !important;
}
@media (max-width:700px){
}
@media (max-width: 991px){

    .responsive-contato{
        padding-left: 210px;    
    }
    
}

@media (max-width: 767px){

    .responsive-contato{
        padding-left: 130px;    
    }    
}
@media (max-width:1000px) and (min-width:710px){
        
}


@media (max-width: 426px){

    .responsive-contato{
        padding-left: 57px;    
    }

}

@media (max-width: 384px){

    .responsive-contato{
     padding-left: 45px;    
    }
    
}
@media (max-width:1025px) and (min-width:1010px){
}
@media (max-width: 365px){

    .responsive-contato{
        padding-left: 40px;    
    }

    .responsive-contato{
        margin-left: -8px;
    }
        
}

@media (max-width: 360px){

    .responsive-contato{
        padding-left: 35px;    
    }
            
}

@media (max-width: 355px){

    .responsive-contato{
        padding-left: 30px;    
    }
                
}

@media (max-width: 350px){

    .responsive-contato{
        padding-left: 25px;    
    }
                    
}

@media (max-width: 345px){

    .responsive-contato{
        padding-left: 20px;    
    }
                        
}

@media (max-width: 340px){

    .responsive-contato{
        padding-left: 15px;    
    }
                    
}

@media (max-width: 335px){

    .responsive-contato{
        padding-left: 10px;    
    }
                    
}

@media (max-width: 330px){

    .responsive-contato{
        padding-left: 5px;    
    }
                    
}

@media (max-width: 325px){

    .responsive-contato{
        padding-left: 0px;    
    }

    .mapcontact{
        margin-left: -8px !important;
        width: 300px !important;
    }
                        
}
      
.footerbackground {
    background-color: #928c8c;
    color: #ffffff;
    bottom: 0px;
    box-sizing: border-box;
	width: 100%;
	text-align: left;
    font: bold 16px;
    font-family: 'Carrois Gothic SC', sans-serif !important;;
	padding: 50px 50px 60px 50px;
	margin-top: 80px;
}
@media (max-height:800px){
	footer { position: static; }
	header { padding-top:40px; }
}

.contatos-footer{
    padding: 0px;
    text-align: center;
    width: 60%;
}

.virtual {
    padding: 18px 0px;
}

.contatos-footer li {
    display: inline-block;
    width: 2rem ;
    height: 35px;
    border-radius: 50%;
    text-align: center;
    line-height: 30px;
    padding: 0cm;
}

.contatos-footer li a i {
    padding-top: 4px;
    color: #ffffff;
    font-size: 25px;
    transition:.3s;
}

.contatos-footer li a i:hover{
    text-decoration: none;
}

.footer-links ul {
    list-style-type: none;
    font-size: 18px;  
    padding: 15px 0px;;  
}


.footer-links li a {
    color: #ffffff;
    transition: color 0.3s;
}

.footer-links li a:hover{
    text-decoration: none;
}

.copyright {
    margin-bottom: -20px;
    margin-top: 10px;
    
}
.footer-info  {
    width: 30%;
}

.navbar-site {
    background-color: #c20e1a;
}

.nav-item {
    font-size: 180%;  
}


.navbar-toggler {
    width: 5rem;
}

.navbar-toggler-icon {
    width: 3rem;
} 


.linkestilo {
    text-decoration: none;
    color: #ffffff;
}

.linkestilo:hover {
    text-decoration: none;
    color: #ffffff;
}      

.home-category-title {
    font-family: 'Carrois Gothic SC', sans-serif;
    font-size: 50px;
}

.home-book-title {
    font-family: 'Carrois Gothic SC', sans-serif;
    font-size: 20px;
    text-align: center;
    color: #000 !important;
}

.home-book-img {
    box-shadow: 5px 7px 6px #000;
    height: 300px;
}

.home-img-zoom {
    transition: transform .2s;
    margin: 0 auto;
}
  
.home-img-zoom:hover {
    transform: scale(1.1);
    margin-bottom: 30px;
}

.home-book-title-group {
    height: 80px;
}

.home-book-past-price {
    color: #000;
    font-family: 'Carrois Gothic SC', sans-serif;
    text-align: center;
    font-size: 18px;
    text-decoration: line-through;
}

.home-book-price {
    color: #c20e1a;
    font-family: 'Carrois Gothic SC', sans-serif;
    font-size: 24px;
    text-align: center;
}

.home-btn-product {
    background-color: #c20e1a !important;
    font-family: 'Roboto', sans-serif;
    font-size: 16px !important;
    width: 100%;
    padding: 10px !important; 
    border-radius: 10px !important;
    color: #fff !important;
}

.home-btn-product:hover {
    background-color: #a3a0a0 !important;
    color: #000 !important;
}
    







/*Produtos inicio*/

.card-title{
    color: #c20e1a;
    
}
.prcards{
    margin-top:15px;
    margin-bottom: 8px;
}

.btn-product {
    background-color: #c20e1a !important;
    font-family: 'Carrois Gothic', sans-serif;
    font-size: 16px;
    width: 100%;
    padding: 10px;
    color: white !important;
}

.btn-product:hover {
    background-color: #a3a0a0 !important;
    color: #000 !important;
}

.tamanhocard {
    height: 220px;
    transition: transform .2s; /* Animation */
    margin: 0 auto;
}
.tamanhocard:hover {
    transform: scale(1.1); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.ticon:hover{
    margin-left: 4px;
    transform: translate(10px, 0);
}

.removeblue{
    color: black;
    text-decoration: none;
    
}
.removeblue:hover{
    color: black;
    text-decoration: none;
}
.formuPes{
    width: 205px !important;
    padding-right: 0px;
    margin-right: 0px !important;
    margin-top: 2px;
    height: 39.52px;
}

.butaoPes{
    width: 50px !important;
    color: #c20e1a !important ;
    padding-left: 0px;
    margin-top: 2px !important;
    height: 39.52px;
}

.butaoPes:hover{
    color: white !important;
}

.resquisa{
    margin-bottom: 3px !important;
}

.varlivro{
    font-family: 'Roboto', sans-serif ; 
    font-size: 25px ;
    color: #c20e1a  ;
    text-align: left;
}
.resicon{
    display: none;
}

.prcards{
    width: 184px !important;
    height: 490px !important;
    
}
.tituloCard{
    width: 143px !important;
    height: 95px !important;
}
.produtospagination{
    color: #c20e1a !important;
    margin-top: 10px !important;
}
.intenprpag{
    text-decoration: none ;
    color: #c20e1a !important;
    background-color: white !important;
}
.activepagination{
    
    color: white !important;
    background-color: #c20e1a !important;
}
@media (max-width:700px){
    .resicon{
        display: block;
    }
    .reslista{
        display: none;
    }
    .resquisa{
        display: none;
        width: 15rem !important;
    }
    
    .fa-bars{
        font-size: 2rem;
    }
    .menujs {
        display: inline;
    }
    .menujspes {
        display: inline-block;
    }
    .formuPes{
        width: 12rem !important;
        height: 47.52px;
       
    }
    .butaoPes{
        width: 3rem !important;
        height: 47.52px;
        margin-top: 2px !important;
    }
    .prcards{
        width: 158px !important;
        height: 410px !important;
    }
    .tituloCard{
        font-size: 16px;
        width: 117px !important;
        height: 70px !important;
    }
    .rescard{
        height: 175px !important;
    }
    .varlivro{
        height: 25px !important;
    }
    
}
@media (max-width:1000px) and (min-width:710px){
    .formuPes{
        width: 109px !important;
    }
    .butaoPes{
        width: 40px !important;
    }
    .tituloCard{
        font-size: 14px;
    }
    .varlivro{
        font-size: 14px;
    }
    .resbopro{
        font-size: 8px !important;
        width: 4rem !important;
        text-align: center;
        padding-left: 8px;
    }
    .menujs {
        display: inline;
    }
    .tituloCard{
        font-size: 11px !important;
        width: 66px !important;
        height: 60px !important;
    }

    .prcards{
        width: 105px !important;
        height: 309px !important;
    }
    .reslista{
        font-size: 12px;
    }
    
}
@media (max-width:1025px) and (min-width:1010px){
    .formuPes{
        width: 165px !important;
    }
    .butaoPes{
        width: 45px !important;
    }
    .resbopro{
        font-size: 12px;
    }
    .menujs{
        display: inline;
    }
    .tituloCard{
        font-size: 18px;
        width: 110px !important;
        height: 84px !important;
    }
    .prcards{
        width: 150px !important;
        height: 428px !important;
    }
    .rescard{
        width: 149px !important;
        height: 228px !important;
    }
}
@media (max-width:322px){
    .varlivro{
        font-size: 18px !important;
    }
    .resbopro{
        font-size: 12px;
    }
    .menujs{
        display: inline;
    }
    .tituloCard{
        font-size: 14px !important;
        width: 90px !important;
        height: 66px !important;
    }
    .prcards{
        width: 131px !important;
        height: 372px !important;
    }
    
}
@media (max-width:361px) and (min-width:323px){
    .resbopro{
        padding-left: 6px;
    }
    .menujs{
        display: inline;
    }
    .tituloCard{
        font-size: 16px !important;
        width: 102px !important;
        height: 66px !important;

    }
    .prcards{
        width: 151px !important;
        height: 400px !important;
    }
    .rescard{
        width: 141px !important;
        height: 200px !important;
    }
    
}

.loginarea{
    width: 330px !important;
    font-family: 'Carrois Gothic', sans-serif;
    
}
.logintexto{
    width: 20rem !important;
    font-size: 2rem;
}
.emailsenha{
    width: 20rem !important;
}
.emailarea{
    width: 20rem !important;
    margin-bottom: 10px !important;
}

.senhaarea{
    width: 20rem !important;
    margin-bottom: 1rem !important;
    outline: none !important;
}

.userlogin{
    color: white;
    background-color: #c20e1a;
    
}

.btn-product {
    background-color: #c20e1a;
    font-family: 'Carrois Gothic', sans-serif;
    font-size: 16px;
    width: 100%;
    padding: 10px;
    color: white;
}

.btn-product:hover {
    background-color: #a3a0a0;
    color: #000;
}
.senicon{
    color: white;
    background-color: #c20e1a;
}
.senhaicon{
    background-color: transparent !important;
    border-color: #ced4da !important;    
}
.senhi{
    color: #6c757d;
    outline: none !important;
}
.senhi :hover{
    color: #424243;
    background-color: white;
}
.loginimagem{
    height: 20rem;
}

@media (max-width:323px){
    .loginarea{
        width: 280px !important;
    }
    .loginimagem{
        width: 18rem !important;
        height: 18rem !important;
    }
    .emailarea{
        width: 18rem !important;
    }
    .senhaarea{
        width: 18rem !important;
    }
}
.font-crud{
    font-family: 'Carrois Gothic SC', sans-serif !important;
    font-size: 13px !important;
}
.btn-crud{
    background-color: #353a40 !important;
    color: white !important;
}

.cabecalho-crud{
    border-radius: 100px !important;
}

.adjust-eyeicon-crud{
    margin-left: -1.5px;
    margin-top: 3px;
    height: 5px;
}

.procurar-crud{
    width: 500px !important;
    margin-top: 5px;
    font-size: 20px;
}

.newbox-crud:focus{
    border-color: #c20e1a !important;
    box-shadow: 0 0 10px #c20e1a !important; 
}

.newbox-add-crud:focus{
    border-color: #353a40 !important;
    box-shadow: 0 0 10px #353a40 !important; 
}

.responsive-search-crud{
    width: 70% !important;
}

.titulo-crud{
    width: 25%;
    font-size: 18px;
}

.categoria-crud{
    width: 20%;
    font-size: 18px;
}

.preco-crud{
    width: 15%;
    font-size: 18px;
}

.acoes-crud {
    width: 10%;
    font-size: 18px;
}

.btn-view-crud{

    margin-left: 2px;
    padding-left: 2px !important;
    background-color: #007bff;
    color: white;
}
.btn-view-crud:focus{
    border-color: #007bff !important;
    box-shadow: 0 0 10px #007bff !important; 
}
.vasco{
    padding-left: 5px !important;
}
.btn-edit-crud{
    background-color: #28a745;
    color: white;
}

.btn-edit-crud:focus{
    border-color: #28a745 !important;
    box-shadow: 0 0 10px #28a745 !important; 
}

.btn-delete-crud{
    background-color: #c20e1a;
    color: white;
}

.start-crud {
    font-size: 70px;
}

.font-adjustment-crud{
    font-size: 16px;

}

.btn-crud-table{
    width: 32px;
}

.pagination > li > a
{
    background-color: white;
    color: #c20e1a;
}

.pagination > .active > a{
    background-color: #c20e1a !important;
    color: white !important;
    border: solid 1px #c20e1a !important;
}

.pagination-crud-buttons{
    background-color: white !important;
    color: #c20e1a !important;
}

.font-modaltitle-crud{
    font-size: 25px;
}

.font-modalbody-crud{
    font-size: 16px;
}

#actpago:hover{
    background-color: none !important;
    color: none !important;
}

#actpags:hover{
    background-color: none !important;
    color: none !important;
}

#actpagt:hover{
    background-color: none !important;
    color: none !important;
}

#actpagol:hover{
    background-color: none !important;
    color: none !important;
}

#actpagsl:hover{
    background-color: none !important;
    color: none !important;
}

#actpagtl:hover{
    background-color: none !important;
    color: none !important; 
}

#actpagol:focus{
    border-color: #c20e1a !important;
    box-shadow: 0 0 10px #c20e1a !important; 
}

#actpagsl:focus{
    border-color: #c20e1a !important;
    box-shadow: 0 0 10px #c20e1a !important; 
}

#actpagtl:focus{
    border-color: #c20e1a !important;
    box-shadow: 0 0 10px #c20e1a !important; 
}

@media (max-width: 1200px){

    .btn-crud-table{
        margin-bottom: 5px;
    }
    
}

@media (max-width: 992px){

    .btn-crud-table{
        margin-bottom: 5px;
    }

    .categoria-crud{
        width: 20%;
    }
    
    
}

@media (max-width: 1200px){

    .acoes-crud {
        width: 15%;
    }

}

@media (max-width: 992px){

    .acoes-crud {
        width: 20%;
    }

}

@media (max-width: 767px){

    #paginacao-crud-responsive{
        justify-content: center !important;

    }

    .btn-crud-table{
        margin-bottom: 5px;
    }

    .acoes-crud {
        width: 15%;
    }

    .view-table-crud{
        margin-left: 8px;
    }
    
}

@media (max-width: 426px){

    .start-crud {
        text-align: center;
    }

    #add-crud-responsive{
        text-align: center !important;
        margin-bottom: -40px;
    }

    #search-bar-crud{
        text-align: center !important;
    }

}

.btn-edit-indexcrud-margin-adjustment{
    margin-top: -31px;
    margin-left: 26px;
}

.btn-delete-indexcrud-margin-adjustment{
    margin-top: -56px;
    margin-left: 70px;
    margin-right: -17px;
}

.book-info {
    font-size: 20px;
}

.display-none {
    display: none;
}

.about-icon {
    color: #c20e1a;
}

.site-about-text {
    font-family: 'Carrois Gothic SC', sans-serif;
}

.site-about-group {
    background-color: #d9d9d9;
}

.btn-go-back {
    background-color: #c20e1a;
}

.white {
    color: #fff;
}

.button-form-logout {
    background-color: #343a40;
    border: 0px;
}

.counter-products {
    font-size: 20px;
    
}

.button-home-reset{
    background-color: white !important;
}

.button-home-reset:focus{
    outline:none;
}

.btn-search-navbar-site{
    background-color: #928c8c !important;
    color: white !important;
}

.btn-img-produto{
    background-color: white !important;
    width:195px;
    margin-left: -6px;
    margin-top: -2px;
}

.btn-img-produto:focus{
    outline: none !important;
}