.loginarea{
    width: 500px !important;
    font-family: 'Carrois Gothic', sans-serif;
    margin-left: auto !important;
    margin-right: auto !important;
    margin-top: 2rem !important;
}
.logintexto{
    width: 20rem !important;
    font-size: 2rem;
}
.emailsenha{
    width: 20rem !important;
}
.emailarea{
    width: 20rem !important;
}

.senhaarea{
    width: 20rem !important;
}

.userlogin{
    color: #c20e1a;
    
}

.btn-product {
    background-color: #c20e1a;
    font-family: 'Carrois Gothic', sans-serif;
    font-size: 16px;
    width: 100%;
    padding: 10px;
    color: white;
}

.btn-product:hover {
    background-color: #a3a0a0;
    color: #000;
}
