.loginarea{
    width: 330px !important;
    font-family: 'Carrois Gothic', sans-serif;
    margin-right: 50rem;
    margin-left: 25rem;
    margin-top: 2rem !important;
    
}
.logintexto{
    width: 20rem !important;
    font-size: 2rem;
}
.emailsenha{
    width: 20rem !important;
}
.emailarea{
    width: 20rem !important;
    margin-bottom: 10px !important;
}

.senhaarea{
    width: 20rem !important;
    margin-bottom: 1rem !important;
}

.userlogin{
    color: white;
    background-color: #c20e1a;
    
}

.btn-product {
    background-color: #c20e1a;
    font-family: 'Carrois Gothic', sans-serif;
    font-size: 16px;
    width: 100%;
    padding: 10px;
    color: white;
}

.btn-product:hover {
    background-color: #a3a0a0;
    color: #000;
}

.senicon{
    color: white;
    background-color: #c20e1a;
}

.senhaicon{
    background-color: white !important;
    border-color: #ced4da !important;
    border-left-color: white !important;
}
.senhi :hover{
    color: #6c757d;
    background-color: white;
}
.loginimagem{
    height: 20rem;
}


