
.footerbackground {
    background-color: black;
    color: #ffffff;
    position: fixed;
    bottom: 0px;
    box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
	padding: 50px 50px 60px 50px;
	margin-top: 80px;
    
}

.social{
    padding: 0px;
}

h4 {
    padding: 18px 0px;
}

.social li {
    display: inline-block;
    background-color: #ffffff;
    width: 2rem !important;
    height: 35px;
    border-radius: 50%;
    text-align: center;
    line-height: 30px;
    padding: 0cm;
}

.social li a i {
    padding-top: 4px;
    color: #fc944b;
    font-size: 25px;
    transition:.3s;
}

.social li a i:hover{
    text-decoration: none;
}

.links ul {
    list-style-type: none;
    font-size: 18px;  
    padding: 15px 0px;  
}


.links li a {
    color: #fc944b;
    transition: color 0.3s;
}

.links li a:hover{
    text-decoration: none;
}

.locantion {
    font-size: 18px;
}

.locantion p  {
    color: #fc944b;
    display: inline-block;
    vertical-align: top;
    width: 35%
}

.footer-info  {
    width: 30%;
}